@{
    ViewBag.Title = "Participant";
}

<section class="container">
    <h2>Participant</h2>
    <br />
    <p>
        Search for classes near you - the website would allow you to search for outdoor fitness classes based on your preferences, such as location, class type, day and time and
    </p>
    <p>
        See trainer ratings and read reviews - You would be able to read other people’s reviews of the trainers and see how each trainer is rated (similar to the Urban Spoon rating system). You can even add your own review for classes you attend. Receive special offers and announcements – be notified about new classes, great deals on products and services and get exclusive invites to events.
    </p>

    <p>
        Feel safe with your trainer – find out which trainers are registered fitness professionals, if they’re insured, what their specialities are and what their background and experience is.
    </p>

    <p>
        Add classes and reminders to your calendar – let us organise your fitness
    </p>
</section>
