@{
    ViewBag.Title = "Personal Trainers";
}

<section class="container">
    <h2>Personal Trainers</h2>
    <br/>
    <p>
        <b>This is how it could work for you</b>
        <ul>
            <li>Instead of dealing with various councils, you would book a park (or a section of a park) through our online tool.</li>
            <li>You would also have a profile on our site and be able to list your classes.</li>
            <li>Customers could search all the outdoor fitness classes in WA, book into your class and pay you online. </li>
            <li>There would also be other opportunities to promote your specials, products, challenges, etc. as well as showcase your specialities.</li>
        </ul>
    </p>
    <p>
        The online tool would allow the public to search for outdoor fitness classes based on their preferences (location, class type, etc). It would be the go-to site to find out about all the outdoor fitness classes and health initiatives happening across Western Australia. 
    </p>
    <p>
        <b>Benefits to personal trainers would be</b>
        <ul>
            <li>Have more customers aware of your services – more marketing for you!</li>
            <li>You don’t have to deal with the local councils – we would do that for you. </li>
            <li>Less chance of another trainer ‘stealing’ your spot </li>
            <li>Potentially more reasonable fees for using public spaces</li>
            <li>Opportunities to up-sell and on-sell other products and services</li>
            <li>Be part of a supportive outdoor fitness community</li>
        </ul>
    </p>
</section>
