@using FittyCent
<ul class="nav nav-tabs">
    @if ( User.IsInRole(Constants.Roles.Trainer) ) {
        <li>@Html.ActionLink("My Classes", "Index", "Classes")</li>
    }

    <li>@Html.ActionLink("Profile", "Profile", "Account")</li>
    <li>@Html.ActionLink("Account Settings", "Settings", "Account")</li>
</ul>
