<ul class="nav nav-tabs">
    <li>@Html.ActionLink("My Classes", "Classes", "Account")</li>
    <li>@Html.ActionLink("Profile", "Profile", "Account")</li>
    <li>@Html.ActionLink("Account Settings", "Settings" , "Account" )</li>
</ul>
