@{
    ViewBag.Title = "Contact Us";
}
<section class="container">
    
    <h2>@ViewBag.Title</h2>

    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Email</h3>
            </div>
            <div class="panel-body">
                <p>
                    Want to find out more?  Have any suggestions?  Keen to sign up and get involved?
                </p>
                <p>Flick us an e-mail at <a href="mailto:info@fitnessengine.com.au">info@fitnessengine.com.au</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Social Media</h3>
            </div>
            <div class="panel-body">
                <p>
                    Another great way to keep up to date with all the latest in your local fitness community is to get involved with our Facebook page.
                </p>
                <p>
                    Check it out at <a href="https://www.facebook.com/OpenAirfitnessAUS">https://www.facebook.com/OpenAirfitnessAUS</a>
                </p>
            </div>
        </div>
    </div>

</section>