@{
    ViewBag.Title = "Contact Us";
}
<section class="container">
    <h2>@ViewBag.Title</h2>

    <p>We would love to hear from you.</p>
    <p>You can contact us at the following channels below:</p>
    <address>
        <p><b>Email:</b> <a href="mailto:info@Open Airfitness.com.au">info@Open Airfitness.com.au</a></p>
        <p><b>Facebook Page:</b> <a href="https://www.facebook.com/OpenAirfitnessAUS">Open Air Fitness</a></p>
    </address>

</section>