@{
    ViewBag.Title = "Contact Us";
}
<div class="body-content">
    <h2>@ViewBag.Title</h2>

    <p>We would love to hear from you.</p>
    <p>You can contact us at the following channels below:</p>
    <address>
        <p><b>Email:</b> <a href="mailto:info@openairfitness.com.au">info@openairfitness.com.au</a></p>
        <p><b>Facebook Page:</b> <a href="https://www.facebook.com/OpenairfitnessAUS">Open Air Fitness</a></p>
    </address>

</div>