@{
    ViewBag.Title = "Councils";
}

<section class="container">
    <h2>Councils</h2>
    <br />
    <b>Benefits to councils would be</b>
    <ul>
        <li>Have more customers aware of local council fitness intiatives</li>
        <li>Less council resources dedicated to the management of their public spaces</li>
        <li>Eliminates need for councils to liaise with multiple personal trainers</li>
        <li>Councils would be seen to be even more active in promoting the health of their residents</li>
        <li>Complaints would be handled by us (where appropriate) </li>
        <li>Councils would still receive revenue for the use of their public spaces</li>
        <li>There would be greater transparency of personal trainers’ qualifications, registrations and insurances. </li>
    </ul>
</section>
