@model FittyCent.Web.Models.ChangePassword

@using ( Html.BeginForm("ManageAccess", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }) ) {
    <h4>Change Password</h4>
    @Html.ValidationSummary()
    @Html.FormGroupPasswordFor(m => m.OldPassword)
    @Html.FormGroupPasswordFor(m => m.NewPassword)
    @Html.FormGroupPasswordFor(m => m.ConfirmPassword)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>
}
