@model FittyCent.Web.Models.RegisterViewModel
@{
    ViewBag.TeaserLine = "Welcome to OpenAir Fitness";
}

<h1>Welcome to OpenAir Fitness</h1>
<p>You are receiving this because you are part of a new and exciting health community</p>

<p>Please check back soon for more exciting functionality, classes, and offers.  Thanks for supporting our startup in Startup Weekend Perth 2014!</p>