@model FittyCent.Web.Models.TrainerClassModel
@{
    ViewBag.Title = "Create Class";
}
@Html.Partial("_TrainerAccountNavMenu")
<div class="body-content">
    <div class="edit-container">
        <h2>Create Class</h2>
        @using (Html.BeginForm("Create", "Classes", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
        {
            @Html.EditorForModel()
            <input type="submit" value="Create" class="btn btn-sm btn-primary" />
        }
        <hr />
        <div>
            @Html.ActionLink("Cancel", "Index", "Classes")
        </div>
    </div>
</div>