html,
body {
    height: 100%;
    background: #b0e0e6;
  /* The html and body elements cannot have any padding or margin. */
}

.navbar {
    margin-bottom: 0px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Footer Specific */
#footer {
  height: 60px;
  background-color: #6495ed;
}

.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

/* End Footer Specific */


/* Bootstrap overrides */
.nav-tabs {
    margin-top: 20px;
}

.nav:first-child {
    padding-left: 15px;
}

.row-fluid .col-md-4 h2 {
    font-size: 24px;
}

.navbar-brand {
    padding-top: 9px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
    font-size: 12px;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.splash-container {
    width: 100%;
    background: url("/Content/images/yoga.jpg") top -80px center no-repeat;
    height: 450px;
    margin-top: -5px;
    position: relative;
}

.search-form {
    margin: auto;
    text-align: center;
    padding-top: 200px;
}

.location-input {
    width: 280px !important;
}

.readonly-container {
    padding-left: 15px;
}

    .readonly-container .row {
        padding: 5px 0;
        font-size: 14px;
    }

        .readonly-container .row ul {
            padding: 0;
        }

    .readonly-container label {
        font-size: 14px;
        width: 15%;
    }

.edit-container .form-group label {
    text-align: left;
    font-size: 14px;
    width: 15%;
}

.edit-container .form-group input[type=checkbox] {
    margin-left: 15px;
}

.tagline {
    text-align: center;
    margin: 2% 0 0 0;
    background-color: white;
    opacity: 0.7;
}

.tagline span {
    color: black;
    font-size: 2.1em;
}


/* MY ACCOUNT MENU DROPDOWN */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-top: 20px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}

/* END MY ACCOUNT MENU DROPDOWN */